
<style>
  body, html {
    height: 100%;
  }

  * {
    box-sizing: border-box;
  }

  .bg-image {
    /* The image used */
    background-image: url(/assets/bg.jpg);

    /* Add the blur effect */
    filter: blur(4px);
    -webkit-filter: blur(4px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

</style>



<body>
<div class="bg-image"></div>

<div class="bg-text">
  <h1> Live any occasion unforgettable.</h1>
  <h2>DREAM EVENTS</h2>
  <p>As rewarding as event planning is, it can also be exhausting. In fact, Event Coordinator was listed as one of the top 5 most stressful jobs, with some organizers working up to 20 hour days. This means you probably know what it's like to miss sleep making sure everything comes together!

However, having the right event planning software under your belt can make a world of difference. Like a superhero needs their trusty sidekick, you need a set of event management tools to save you time taking care of logistics, so you can streamline your event to stay more productive and create the best experiences.

In this article, we'll review the 9 best event management software, each one useful for different stages of the event planning process. As you may still be unsure whether your next event will be virtual, in-person or hybrid, we've found tools that can work for all options so you can be sure to choose the best tool for your unique event.

 </p>

</div>

</body>



<p>fweifbebenbig</p>