<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #262626;
   color: #bebebe;
   text-align: center;
   background: transparent
}

</style>

</head>
  <body>

  <div class="footer">
    <p>A Event Management Plateform</p> 
    <a href="https://www.gmail.com/"> &#x1F4E8 Contact Us.!</a>
  </div>

</body>
</html> 

